* {
    margin: 0;
    padding: 0;
    font-family: nunito;
}

body {
    margin: 0;
    background-color: white;
    overflow: hidden;
}

.titlebox {
    width: 100%;
    height: 10vh;
    background-color: white;
    border-bottom: #723FCC solid 6px;
}

.title {
    color: #723FCC;
    margin-left: 30px;
    font-size: 55px;
}

.container {
    /* display: flex; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 90vh;
    /* Set a height for the container */
}

.answerbox {
    width: 70%;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
    /* display: none; */
}

form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

textarea {
    width: 70%;
    /* min-height: 30px; */
    max-height: 200px;
    padding: 10px;
    padding-right: 6%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #723FCC;
    background-color: white;
    resize: none;
    /* overflow-y: hidden; */
    resize: none;
    position: absolute;
}

button {
    width: 10%;
    height: 30px;
    position: relative;
    margin-left: 58%;
    background-color: #723FCC;
    border: 2px solid #723FCC;
    border-radius: 25px;
    color: white;
}

button:hover {
    background-color: white;
    color: #723FCC;
}

button:active {
    background-color: white;
    border-color: #eee
}