{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <title>AIConference</title>
</head>

<body>
    <div class="titlebox">
        <h1 id="demo" class="title">AIConference</h1>
    </div>

    <div class="container">

        <div class="answerbox">
            <!-- <p style="display:none" id="output"></p> -->
            <div id="box1" class="textcontainer">
                <p id="finaloutput"></p>
            </div>
            <div id="box2" class="textcontainer" style="margin-top: 40px;">
                <p style="display:none" id="gpt4turbooutput"></p>
                <p style="display:none" id="gpt4output"></p>
                <p style="display:none" id="gpt35turbooutput"></p>
                <p style="display:none" id="claude3opusoutput"></p>
                <p style="display:none" id="claude21output"></p>
                <p style="display:none" id="mistral7boutput"></p>
                <p style="display:none" id="mixtral8x7boutput"></p>
                <p style="display:none" id="sonarmediumoutput"></p>
            </div>
        </div>
        <div class="gridcontainer">
            <div id="gpt4turbo" class="box" onclick="visible('gpt4turbo')">Gpt 4 Turbo</div>
            <div id="gpt4" class="box" onclick="visible('gpt4')">Gpt 4</div>
            <div id="gpt35turbo" class="box" onclick="visible('gpt35turbo')">Gpt 3.5 Turbo</div>
            <div id="claude3opus" class="box" onclick="visible('claude3opus')">Claude 3 Opus</div>
            <div id="claude21" class="box" onclick="visible('claude21')">Claude 2.1</div>
            <div id="mistral7b" class="box" onclick="visible('mistral7b')">Mistral 7b</div>
            <div id="mixtral8x7b" class="box" onclick="visible('mixtral8x7b')">Mixtral 8x7b</div>
            <div id="sonarmedium" class="box" onclick="visible('sonarmedium')">Sonar Medium</div>
        </div>
        <form id="myForm">
            <textarea placeholder="Enter text here..." id="inputData" type="text" rows=1
                oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"></textarea>
            <button onclick="moveFormToBottom()" type="submit">Submit</button>
        </form>
    </div>

</body>

</html>